* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    margin: 50vh auto;
}
h1 {
    color: darkblue;
    font-style: italic;
    letter-spacing: 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}